<br />
<legend class="blog-title" align="center">University of Texas at Arlington- Water Polo Sport Club</legend>
<br />

<div class="container">
    <div class="row">
       
        <div class="col-md-8">
            <div class="customDiv">
                <div id="myCarousel" class="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="~/Assets/Images/wp1.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="item">
                            <img src="~/Assets/Images/wp2.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="item">
                            <img src="~/Assets/Images/wp3.jpg" alt="" class="img-responsive">
                        </div>
                    </div>
                    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                        <span class="icon-pre"></span>
                    </a>
                    <a class="carousel-control right" href="#myCarousel" data-slide="next">
                        <span class="icon-next"></span>
                    </a>
                </div>
            </div>
            <h3>News</h3>

            <div id="accordion" class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 href="#">
                            Get unstressed and join us on a friendly match!
                            On May. 12th, Friday from 5 to 7pm in the indoor swimming pool.
                            All skill levels welcomed.
                            Looking forward to seeing you all there!
                        </h4>
                        <hr />
                        <h4 href="#">
                            Practice with TCU on July, 5th in TCU in Fortworth
                        </h4>
                        <hr/>
                        <h4 href="#">
                            Austin Game on July, 11th in Austin
                        </h4>
                        <hr />
                        <h4 href="#">
                            New Executive Board elections for Fall 2017 next Saturday, May  7th
                        </h4>
                    </div>
                </div>
            </div>
            <a class="twitter-follow-button" href="https://twitter.com/UTAH2OPolo" data-size="large">
                Follow UTAH2OPolo
            </a>
            <br />
        </div>
       
            <div class="col-md-4">
                <div class="customDiv">
                    <div class="fb-page fb_iframe_widget" data-href="http://www.facebook.com/WaterPoloUTA/" data-small-header="false"
                         data-hide-cover="false" data-show-facepile="false" data-show-posts="false" style="margin-bottom: 3px;" fb-xfbml-state="rendered"
                         fb-iframe-plugin-query="app_id=1025768390767193&amp;container_width=300&amp;hide_cover=false&amp;href=http%3A%2F%2Fwww.facebook.com%2FWaterPoloUTA%2F&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=false&amp;show_posts=false&amp;small_header=false&amp;width=300">
                        <iframe name="f10de87db716068" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:page Facebook Social Plugin" src="https://www.facebook.com/v2.3/plugins/page.php?app_id=1025768390767193&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2F87XNE1PC38r.js%3Fversion%3D42%23cb%3Df3df06c407eceb8%26domain%3Dmavorgs.collegiatelink.net%26origin%3Dhttps%253A%252F%252Fmavorgs.collegiatelink.net%252Ff14296191dfabb%26relation%3Dparent.parent&amp;container_width=395&amp;hide_cover=false&amp;href=http%3A%2F%2Fwww.facebook.com%2FWaterPoloUTA%2F&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=false&amp;show_posts=false&amp;small_header=false&amp" class="" style="border: none; visibility: visible; width: 395px; height: 130px;"></iframe>
                    </div>
                    <br />
                   
                        <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style="background: #FFF; border: 0; border-radius: 3px; box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 10px 0 rgba(0, 0, 0, 0.15); margin: 1px; max-width: 658px; padding: 0; width: 99.375%; width: -webkit-calc(100% - 2px); width: calc(100% - 2px);">
                            <div style="padding: 8px;">
                                <div style="background: #F8F8F8; line-height: 0; margin-top: 40px; padding: 50.0% 0; text-align: center; width: 100%;">
                                    <div style="background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display: block; height: 44px; margin: 0 auto -44px; position: relative; top: -22px; width: 44px;"></div>
                                </div>
                                <p style="margin: 8px 0 0 0; padding: 0 4px;">
                                    <a href="https://www.instagram.com/p/BK6IwJ1jo4X/" style="color: #000; font-family: Arial, sans-serif; font-size: 14px; font-style: normal; font-weight: normal; line-height: 17px; text-decoration: none; word-wrap: break-word;" target="_blank">The backhand is not something you do naturally. But it&#39;s an effective shot!✊🏻 utacampusrec #utawaterpolo #utarlington #waterpolo #uswaterpolo #arlington #arlingtontx #mavericks #campusrec</a>
                                </p>
                                <p style="color: #c9c8cd; font-family: Arial, sans-serif; font-size: 14px; line-height: 17px; margin-bottom: 0; margin-top: 8px; overflow: hidden; padding: 8px 0 7px; text-align: center; text-overflow: ellipsis; white-space: nowrap;">
                                    A post shared by UT Arlington-Water Polo (utawaterpolo) on <time style="font-family: Arial, sans-serif; font-size: 14px; line-height: 17px;" datetime="2016-09-28T17:42:37+00:00">Sep 28, 2016 at 10:42am PDT</time>
                                </p>
                            </div>
                        </blockquote>
                        <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
                   

                </div>
            </div>

        </div>
 

    <link href="~/Assets/css/Site.css" rel="stylesheet" />
</div>
<script>
window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>


